:root {
  --layout-topbar-width: 56px;
  --layout-sidebar-width: 240px;
  --layout-sidebar-shrink-width: 72px;

  --layout-margin-width: 24px;
  --layout-gutter-width: 24px;

  --page-min-width: 0;
  --page-max-width: 1754px;

  --page-left-min-width: 640px;
  --page-left-max-width: 1280px;

  --page-right-min-width: 300px;
  --page-right-max-width: 402px;
}
